/*********************
 Main Styles
 ********************/

html {
	height: 100%;
}

body {
	color: #666;
	background-color: #f2f2f2;
	height: 100%
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

h1 {
	color: rgb(71, 209, 71);
	text-align: center;
}


h2 {
	color: rgb(71, 209, 71);
	text-align: center;
	margin-top: 4em;
}

h3 {
	color: #666;
	text-align: center;
	margin-bottom: 2.3em;
	margin-top: 3em;
}

/*********************
 Navigation
 ********************/

nav {
	width: 100%;
	height: 5em;
	background-color: rgb(71, 209, 71);
	padding: 0;
	margin: 0;
	border:  1px solid  #47d147;

}

#app-name {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 2em;
	margin-left: 20px;
	margin-top: 10px;
}


#bell {
	display: inline-block;
	height: 2em;
	width: 2em;
	border-right: 1px solid #666;
	margin-right: 0.5em;
	padding-right: 0.5em;
	margin-left: 3em; 
}


#profile-pic {
	display: inline-block;
	height: 2em;
	width: 2em;
	border-radius:50%;
	
}



nav p {
	float: right;
	font-size: 1.15em;
	color: white;
	margin-right: 1em;
	display: none;
}


#nav-icons {
	float: right;
	margin: 1em 1em 0 0;
}

#alert {
	display: none;
}

/*********************
 Sidebar
 ********************/


#sidebar {
	width: 100%;
	height: 4em;
	background-color: #3caaaa;
	padding: 0;
	margin: 0;
	border:  1px solid  #3caaaa;
	text-align: center;
}

.sidebar-icons {
	width: 2em;
	height: 2em;
	display: inline-block;
	padding: 0.5em;

}



/*********************
 Charts
 ********************/

#linechart {
	width: 80%;
	height: 80%;
	margin-bottom: 5em;
}


#barchart {
	width: 80%;
	height: 80%;
}

#doughnutchart {
	width: 80%;
	height: 80%;
}




/*********************
 Social Statistics
 ********************/

#twitter-icon {
	width: 2em;
	height: 2em;
	margin: 2.5em 0 0 2.5em;
}

#facebook-icon {
	width: 2em;
	height: 2em;
	margin: 2.5em 0 0 2.5em;
}

#google-plus-icon {
	width: 2em;
	height: 2em;
	margin: 2.5em 0 0 2.5em;
}

#social-stats p {
	color: white;
}	

.social-numbers {
	padding: 0;
	background-color: rgba(75,192,192,1);
	width: 20em;
	margin: 0 auto 3em;
	border-radius: 10px;
	border: 1px solid white;
}

.social-numbers>p:nth-child(2) {
	display: inline-block;
	margin-left: 4em;
	padding-bottom: 0.7em;
}

.social-numbers>p:nth-child(3) {
	display: block;
	margin-left: 4em;
	margin-top: -0.5em;
	margin-bottom: 1em;
	font-size: 2em;
}






/*********************
 Users & Activity
 ********************/



#new-members li {
	margin: 0 auto 2em;
	border-bottom: 1px solid #666;
}



#new-members li img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}


#new-members p {
	position: relative;
	display: inline-block;
	margin-bottom: 1.6em;
}

#new-members li>p:nth-child(3) {
	margin-left: 3em;
}





#member-activity li img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

#member-activity li {
	margin-bottom: 3em;
	border-bottom: 1px solid #666;
}




/*********************
 Forms & Inputs
 ********************/

#message,
#settings {
	border: none;
	margin: 4em 0;
	text-align: center;
}

legend {
	margin-bottom: 2.1em;
	font-size: 2em;
}

button {
	width: 55%;
	height: 3em;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 206, 86, 1);
	color: #4d4d4d;
}


#message input,
#message button,
#settings button {
	display: block;
	margin: auto;
}

#message input {
	margin-bottom: 1.5em;
	width: 60%;
	border-radius: 5px;
}

#message textarea {
	margin-bottom: 1.5em;
	width: 80%;
	height: 13em;
	border-radius: 5px;
}


#settings label {
	margin: 1.5em auto;
}

#settings select {
	margin-bottom: 1.5em;
}






/***************************************************
 Media Queries
 ***************************************************/

@media (min-width: 768px) {

  .container {
  	overflow: hidden;
  	padding-left: 330px;
  }
    

  #sidebar {
    width: 4em;
	float: left;
	margin-left: -330px;
  }

 #main-content {
 	float: right;
 	width: 100%;
 	margin-right: 3em;
 }

 #main-content,
 #sidebar {
 	padding-bottom: 99999px;
 	margin-bottom: -99999px;
 }


}

 

 @media (min-width: 1024px) {
 	
 	#linechart {
 		width: 100%;
 	}

 	#barchart,
 	#doughnutchart {
 		display: inline-block;
 		width: 40%;
 		margin-right: 3em;
 	}


 	.social-numbers {
 		display: inline-block;
 		width: 30%;
 	}
 
 	#settings {
 		float: right;
 		width: 40%;
 	}

 	#message {
 		float: left;
 		width: 40%;
 	}

 	.switch {
 		display: inline-block;
 		width: 10em;
 		height: .5em;
 	}

 	#settings span {
 		display: inline-block;
 	}

 	#alert {
 		display: block;
 		width: 70%;
 		height: 1.8em;
 		border-radius: 20px;
 		background-color: #FF6384;
 		margin-top: 3em;
 	}

 	#alert p {
 		display: inline-block;
 		color: white;
 		margin-left: 50px;
 		margin-top: 7px;
 	}

 	#close {
 		float: right;
 		margin-right: 10px;
 	}
 }